<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./static/style.css">
     <!-- GOOGLE ADSENSE -->
<!-- 
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1087314138604437"
     crossorigin="anonymous"></script> -->
     
    <link rel="icon" href="./static/Imgs/logo1.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Portifólio</title>
</head>
<body >


    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="./static/Imgs/Perfil1.jpg" alt="Foto do perfil">
            <h1>Angelo Marcos</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank"  href="https://www.linkedin.com/in/angelo-marcos-116122181/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank"  href="https://www.instagram.com/angelo_marcos_bispo/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank"  href="https://github.com/AngeloMarcos">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>
        <section>
            <nav id="navbar" class="nav-menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link " aria-current="page" href="#inicio">
                        <i class="bi bi-house"></i>
                        Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#sobre">
                        <i class="bi bi-person-fill"></i>
                        Sobre</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check"></i>
                        Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#curriculo">
                            <i class="bi bi-file-earmark"></i>
                            Currículo</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#projetos">
                            <i class="bi bi-clipboard2-data"></i></i>
                            Projetos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#contato">
                            <i class="bi bi-phone"></i>
                            Contato</a>
                      </li>
                  </ul>
            </nav>
        </section>
    </aside>

    <main id="main">
       <section id="inicio" class="row m-0 p-0">
        
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                
                <h2 class="text-white  text-shadow">Angelo Marcos</h2>
                <span id="subtitle" class="text-white text-shadow">Programador * Analista de suporte * Fotógrafo</span>
                     
            </div>
            
            <div class="col-md-7 d-flex justify-content-end align-items-end">
               <div id="arraste" class="bi bi-arrow-down text white pe-2 fs-2">
                <i class="bi bi-arrow-down-circle-fill"></i>
                <a href="#sobre">Arraste para mais</a>
         
               </div>
           </div>
       </section>

       <section class="container mt-5 " id="sobre">
           <div class="row w-100">
            <div class="col-md-12">
                <h2 class="pt-2">Sobre Mim</h2>

                <p> Olá! Me chamo Angelo Marcos, Seja bem-vindo ao meu Portifólio! <br>
                    Sou apaixonado por tecnologia desde cedo, começando na área aos 16 anos de idade. <br/> 
                    Aos 17 decidi que meu caminho seria a programação e desde então busco sempre melhorar como profissional e sempre aprimorar os conhecimentos na área. <br>
                    Com uma sólida formação em Análise e Desenvolvimento de Sistemas pela Universidade Brás Cubas. Meu objetivo é oferecer soluções inovadoras e eficientes na área de programação, 
                    combinando conhecimentos em diversas linguagens e ferramentas de desenvolvimento</p>
            </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" src="./static/Imgs/Cap3.jpg" alt="Primeira foto SOBRE">
                    </div>
                    <div class="col-md-8  mt-5">
                        <h3>Desenvolvimento e Suporte a sistemas</h3>
                        <p class="mt-4">
                                Atuei como Suporte Técnico na Liberty Health Tech, desempenhando um papel crucial no suporte do sistema AGHU. Minhas responsabilidades incluem reportar bugs, lidar com problemas dos clientes, além de conduzir treinamentos e buscar melhorias contínuas.
                            <br>
                            Como Professor de Programação Python na Ensina Mais, tive a oportunidade de compartilhar conhecimento em lógica de programação, Python e desenvolvimento em ambientes como Scratch, Minecraft e Roblox. Na BDS DataSolution, como Analista de Suporte, garanti a integridade dos dados financeiros, trabalhando com aplicações BDS, SQL, Microsoft Azure e servidores em nuvem.
                            <br>
                            Minha experiência como Programador Java Freelance na CodStation envolveu o desenvolvimento de projetos em Spring Boot, gestão de banco de dados SQL e colaboração no front-end. Na SoftArte, como Programador Trainee, participei do desenvolvimento de sistemas ERP em ASP, atuando tanto na camada HTML/CSS quanto em ASP e SQL.
                            <br>
                            Na Vocalcom, como Analista de Suporte, fui responsável pelo suporte ao sistema Hermes utilizado pelo call center da Sabesp. Na CodStation, contribuí como Programador PHP em projetos de e-commerce, desenvolvendo funcionalidades e trabalhando no front-end.
                            <br>
                            Minha trajetória também inclui experiência como Analista de Suporte na Moveleiros, onde gerenciei a infraestrutura de TI, forneci suporte N1 e N2, importei dados no SQL Server e contribuí para a configuração do VoIP.
                            <br>
                            Minha formação inclui Análise e Desenvolvimento de Sistemas pela Universidade Brás Cubas, concluída em 2022, e um curso técnico em programação pela ETEC, concluído em 2018. Possuo também Ensino Médio completo.
                              

                            
                        </p>
                       
                    </div>
                </div>
           </div>
       </section>

       <section class="mt-5 section-bg" id="habilidades">
            
            <div class="container  pb-5 ">
                <h2>
                    Habilidades 
             </h2>
                <p>
                    Aqui estao um pouco do que sei em cada tecnologia:
                </p>
                <div class="row ">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Java</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 62%;" arial-valuenow="25" aria-valuemax="100">  
                                62%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 20%;" arial-valuenow="25" aria-valuemax="100">  
                                20%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" arial-valuenow="25" aria-valuemax="100">  
                                45%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Html</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 48%;" arial-valuenow="25" aria-valuemax="100">  
                                48%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Css</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" arial-valuenow="25" aria-valuemax="100">  
                                25%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      
                       <p class="mt-3 mb-0">Bootstrap</p>
                       <div class="progress">
                           <div class="progress-bar" role="progressbar" style="width: 25%;" arial-valuenow="25" aria-valuemax="100">  
                               25%
                           </div>
                       </div>
                       <p class="mt-3 mb-0">Spring</p>
                       <div class="progress">
                           <div class="progress-bar" role="progressbar" style="width: 15%;" arial-valuenow="25" aria-valuemax="100">  
                               15%
                           </div>
                       </div>
                       <p class="mt-3 mb-0">SQL</p>
                       <div class="progress">
                           <div class="progress-bar" role="progressbar" style="width: 52%;" arial-valuenow="25" aria-valuemax="100">  
                               52%
                           </div>
                       </div>
                       <p class="mt-3 mb-0">Github</p>
                       <div class="progress">
                           <div class="progress-bar" role="progressbar" style="width: 32%;" arial-valuenow="25" aria-valuemax="100">  
                               32%
                           </div>
                       </div>
                       <p class="mt-3 mb-0">Postman</p>
                       <div class="progress">
                           <div class="progress-bar" role="progressbar" style="width: 15%;" arial-valuenow="25" aria-valuemax="100">  
                               15%
                           </div>
                       </div>
                   </div>
                </div>

                <hr class="w-50 mt-5 me-auto ms-auto">

                <div class="row ">
                    <h3 >
                        Comportamento 
                 </h3>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 83%;" arial-valuenow="25" aria-valuemax="100">  
                               83%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 88%;" arial-valuenow="25" aria-valuemax="100">  
                                88%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Concentração</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 91%;" arial-valuenow="25" aria-valuemax="100">  
                                91%
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Bom-Humor</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 99%;" arial-valuenow="25" aria-valuemax="100">  
                               99%
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                      
                       <p class="mt-3 mb-0">Empatia</p>
                       <div class="progress">
                           <div class="progress-bar" role="progressbar" style="width: 89%;" arial-valuenow="25" aria-valuemax="100">  
                               89%
                           </div>
                       </div>
                       <p class="mt-3 mb-0">Comprometimento</p>
                       <div class="progress">
                           <div class="progress-bar" role="progressbar" style="width: 25%;" arial-valuenow="98%" aria-valuemax="100">  
                              98%
                           </div>
                       </div>
                       <p class="mt-3 mb-0">Determinação</p>
                       <div class="progress">
                           <div class="progress-bar" role="progressbar" style="width: 100%;" arial-valuenow="25" aria-valuemax="100">  
                               100%
                           </div>
                       </div>
                       <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;" arial-valuenow="25" aria-valuemax="100">  
                                95%</div>
                        </div>
                   </div>
                </div>
               
            </div>
        
       </section>

       <section class="mt-5 cv" id="curriculo">
            <div class="container">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item">
                            <h4>Git e Github: Do Básico ao Avançado</h4>
                            <h5>2023 - Atualmente</h5>
                            <p><em>Udemy</em></p>
                            <p>Curso de Git Completo</p>
                        </div>
                        
                        <div class="cv-item">
                            <h4>WEB Moderno 2022</h4>
                            <h5>2022 - Atualmente</h5>
                            <p><em>Udemy</em></p>
                            <p>Projetos: JAVASCRIPT, HTML, CSS, NODE JS, REACT;</p>
                        </div>

                        <div class="cv-item">
                            <h4>Análise e Desenvolvimento de Sistemas</h4>
                            <h5>2020 - 2022</h5>
                            <p><em>Universidade Brás Cubas (UBC)</em></p>
                            <p>Tecnólogo voltado para desnvolvimento de sistema, segurança da Informação e Análise de Dados</p>
                        </div>


                        <div class="cv-item">
                            <h4>Técnico em programação</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>ETEC</em></p>
                            <p>Aqui iniciei meus estudos na programação e banco de dados.</p>
                        </div>

                        <div class="cv-item">
                            <h4>Montagem e manutenção de Micro</h4>
                            <h5>2016 - 2017</h5>
                            <p><em>Millenium</em></p>
                            
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item">
                            <h4>SUPORTE TI JR</h4>
                            <h5>2023 - 2024</h5>
                            <p><em>LIBERTY HEALTH TECH</em></p>
                            <p>Na Liberty, exerci a função de suporte técnico do sistema AGHU e sou responsável pelo relato de bugs, problemas e necessidades do cliente. 
                                Fico alocado no cliente diretamente e sou responsável pelos relatórios diários, rondas, cadastro de usuários, monitoramento dos painéis, montagem e 
                                manutenção dos parâmetros do sistema, configuração de impressoras no CUPS, entre outras funções. Além disso, realizo treinamento de usuários e análise de 
                                melhorias.


                            </p>
                        </div>
                        <div class="cv-item">
                            <h4>PROFESSOR DE PROGRAMAÇÃO PYTHON</h4>
                            <h5>2023</h5>
                            <p><em>ENSINA MAIS</em></p>
                            <p>Fui professor temporário em uma escola de reforço escolar e programação na cidade de Mogi das Cruzes. Ministrei aulas de lógica de programação, aulas de 
                                programação em Python e desenvolvimento com Scratch, Minecraft e Roblox.

                            </p>
                        </div>

                        <div class="cv-item">
                            <h4>ANALISTA DE SUPORTE JR</h4>
                            <h5>2022 – 2023</h5>
                            <p><em>BDS DATASOLUTION</em></p>
                            <p>A BDS fornece dados de mercado financeiro para diversos bancos, e minha função era garantir que esses dados estivessem atualizados e sem divergências em relação à fonte de publicação.
                                 Trabalhava diariamente com as aplicações BDS e banco de dados SQL, configurações de BAT, XHTML, Microsoft Azure, Python e servidores em nuvem.</p>
                        </div>

                        <div class="cv-item">
                            <h4>PROGRAMADOR JAVA JR</h4>
                            <h5>2021 – 2022</h5>
                            <p><em>CODSTATION</em></p>
                            <p>Atuei como freelance programando em java, na época em questão desenvolvi alguns projetos em Spring boot, auxiliei na criação do banco de dados SQL e alimentação de dados nas bases para
                                 testes, auxilio com alguns componentes front e criação de imagens no Photoshop. 
                                Usávamos a ferramenta Github para versionamento de código.</p>
                        </div>

                        <div class="cv-item">
                            <h4>PROGRAMADOR TRAINEE</h4>
                            <h5>2021</h5>
                            <p><em>SOFTARTE</em></p>
                            <p>Atuei como freelancer programando em Java. Durante esse período, desenvolvi diversos projetos utilizando Spring Boot, participei na criação do banco de dados 
                                SQL e na alimentação de dados nas bases para testes. Além disso, prestei assistência com alguns componentes front-end e criei imagens no Photoshop. Utilizamos a 
                                ferramenta GitHub para o versionamento de código.


                            </p>
                        </div>
                        <div class="cv-item">
                            <h4>ANALISTA DE SUPORTE JR</h4>
                            <h5>2021 – 2022</h5>
                            <p><em>VOCALCOM</em></p>
                            <p>Atuava como suporte n1 do sistema Hermes, sistema de atendimento ao cliente utilizado pelo call center da Sabesp, além de fazer o checklist dos servidores todo início de expediente, 
                                utilizando o Zabbix como ferramenta de monitoramento, consultas e manipulação de dados pelo SQL server, 
                                Microsoft azure, treinamento de usuários e auxílio com parâmetros do sistema</p>
                        </div>
                        

                    </div>
                </div>
            </div>


       </section>

       <section id="projetos" class="section-bg mt-5">
            <div class="container pb-5 pt-5">
                <h2 class="pb-4">Projetos</h2>

                <div id="carouselProjetos" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselProjetos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselProjetos" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselProjetos" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselProjetos" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 g-4">
                                <div class="col">
                                    <div class="card">
                                        <iframe src="https://www.youtube.com/embed/R6pea5a-H9A" frameborder="0" width="" height="360"></iframe>
                                        <div class="card-body">
                                            <h5 class="card-title">API com React e Spring-Boot</h5>
                                            <p class="card-text">Desenvolvi essa API utilizando React, Java Spring Boot e MySQL, a aplicação em si faz o cadastro, alteração, exclusão e consulta de qualquer produto.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="carousel-item" data-bs-interval="10000">
                            <div class="row row-cols-1 g-4">
                                <div class="col">
                                    <div class="card">
                                        <iframe src="https://www.youtube.com/embed/R6pea5a-H9A" frameborder="0" width="" height="360"></iframe>
                                        <div class="card-body">
                                            <h5 class="card-title">Cadastro de usuários</h5>
                                            <p class="card-text">Esta aplicação desenvolvida em Java faz o cadastro, consulta, alteração e exclusão. Para armazenamento dos dados utilizei o MySQL.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="carousel-item" data-bs-interval="10000">
                            <!-- Slide 3 - Repita a estrutura do card conforme necessário -->
                        </div>
                
                        <div class="carousel-item" data-bs-interval="10000">
                            <!-- Slide 4 - Repita a estrutura do card conforme necessário --> 
                        </div>
                    </div>
                </div>
                
                    </div>
                    
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>

            </div>
       </section>
<!--        
       <section class="pt-5pb-5" id="contato">
        <div class="container mt-5 mb-5">
            <h2 class="mt-5">Contato</h2>
    
            <div class="row">
                <div class="col-md-6 mt-5">
                    <div class="card p-5 shadow border-0">
                        <div class="endereco col-md-6">
                            <h4><i class="bi bi-geo-alt"></i> Localização</h4>
                            <p>Poá - SP</p>
                        </div>
                        <div class="email col-md-6">
                            <h4><i class="bi bi-envelope"></i> E-Mail</h4>
                            <p>angelobispofilho@gmail.com</p>
                        </div>
                        <div class="whatsapp pb-3 col-md-4">
                            <h4><i class="bi bi-whatsapp  pb-3 pb-3 "></i> Whatsapp</h4>
                            <a href="https://wa.me/5511991909106/?text=textourl"> <button class="btn btn-success">Conversar</button></a>
                           
                        </div>

                      
                        
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="card p-5 h-100 shadow border-0">
                        <form class="row g-3" action="/send" method="POST">
                            
                            <div class="mb-3 col-md-12">
                                <label for="nome" class="form-label">Nome:</label>
                                <input type="name" name="nome" class="form-control" id="emailInput" aria-describedby="emailHelp" required>
                            </div>
                           

                            <div class="mb-3 col-md-12">
                                <label for="email" class="form-label">Endereço de Email:</label>
                                <input type="name"  name="email" class="form-control" id="sobrenome" aria-describedby="emailHelp" required>

                              
                            </div>

                            <div class="mb-3 col-md-12">
                                <label for="mensagem" class="form-label">Deixe uma mensagem:</label>
                                <textarea class="form-control" name="mensagem" id="messageInput" rows="10" placeholder="Digite sua mensagem..." required></textarea>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" id="btn-enviar" class="btn btn-outline-primary">Enviar Mensagem</button>
                            </div>
                            
                            <div class="col-12 d-flex justify-content-center">
                                <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                    <span role="status">Enviando...</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill">{{ message }}</i>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
         -->
      
        
    </main>
<!-- 
    <script src="../static/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="../static/script.js"></script> -->

   
</body>
</html>